body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #282424;
    font-family: Arial, sans-serif;
}
.card {
    position: relative;
    background-color: #fff;
    padding: 1.5rem;
    width: 310px;
    box-shadow: 0 2px 2px #000;
    border-radius: 5px;
}
.card h1 {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0099;
    padding: 1.2rem 1rem;
    font-size: 1.25rem;
    border-radius: 4px;
    text-align: center;
    font-weight: bolder;
}
.card p {
    margin-top: 2rem;
    line-height: 1.5;
    text-align: center;
}