body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: fit-content;
    max-width: 1200px;
    box-shadow: 0 6px 8px #000;
    margin: 35px;
}

.green {
    color: green;
}

.container-one {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px gray;
    width: 100%;
    /* padding: ; */
}

.container-two {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 8px #000;
    width: 100%;
    background-color: #636363;
}

.card {
    position: relative;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 5px 0 #909090;
    margin: 3rem 5rem;
    padding: 80px 10px 10px 10px;
    width: fit-content;
}

.card h1 {
    position: absolute;
    top: 1px;
    left: -8px;
    background: #FFA203;
    box-shadow: 0 4px 0 #F5BD25;
    padding: 5px 10px;
    width: max-content;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bolder;
}